body {
  margin: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5xHGQ4HBJOEPc0XF5_rB1fbKbLzS5rMZ9Jg&s);
  background-repeat: repeat-y;
  background-size: cover;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.container {
  min-height: 100vh;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#add-btn {
  padding: 0 0.5em;
}

#add-btn:hover,
.task-btn button:hover {
  background-color: #f1f3f5;
  border-radius: 5px;
}

.fa-plus {
  color: lightcoral;
}

.task-area {
  border: 1px solid lightgrey;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

#underline {
  height: 3px;
  background-color: lightpink;
  border-radius: 50px;
  position: absolute;
  width: 60px;
  left: 0;
  top: 45px;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
}

.task-btn {
  display: flex;

  .fa-check {
    color: green;
  }

  .fa-trash-can {
    color: red;
    opacity: 0.7;
  }

  .fa-rotate-right {
    color: grey;
  }
}

.task-btn button {
  padding: 0.2em 1em;
  margin-left: 0.3em;
}

.task-content {
  padding: 1em;
}

.done {
  text-decoration: line-through;
  background-color: #dee2e6;
  width: 100%;
  padding: 1em;
}
